.divTurnText{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.spanTurnText, .spanTrollPlayerText, .spanDwarfPlayerText{
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.spanTrollPlayerText{
   color: red;

}

.spanDwarfPlayerText{
   color: blue;

}

.tableBoardContainer{
    height: 100%;
    width: 80%;
    text-align: center;
    margin: auto;
}

.tableButtonContainer{
    padding-top: 20px;
    margin: auto;
    height: 100%;
    width: 100%;
    text-align: center;
}

.gameTable{
    margin: auto;
}

td {
 height: 30px;
 width: 30px;
 min-height: 30px;
 min-width: 30px;
 vertical-align: middle;
 text-align: center;

 border-style: hidden;
 border-collapse: collapse;
}

.selectedCell{
    background-color: red;
    border-collapse: separate;
    border: 3px;
    border-style: solid;
}

.plainCell {
    background-color: unset;
    border-collapse: separate;
    border: 3px;
    border-style: solid;
   }

.deadCell {
    background-color: unset;
    border-style: hidden;
    border-collapse: collapse;
}

.tdButton{
    height: unset;
    width: unset;
}

button{
    font-size: large;
    width: 130px;
}

.divGameRules{
    width: 80%;
    margin: auto;
}
.divGameRules .h1{
    text-align: center;
}

.ruleStyle{
    text-align: left;
}

.spanBold{
    font-weight: bold;
}